[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
flake8 = "*"
twine = "*"
pylint = "*"
ipdb = "*"

[packages]
requests-html = "*"

[requires]
python_version = "3"
